<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <configSections>
   </configSections>
   <connectionStrings>
      <add name="StudentDB" connectionString="Data Source=ULTIMATE-3\MSSQL2012;Initial Catalog=StudentAttendanceSystemDB;Persist Security Info=True;User ID=sa;Password=P@ssw0rd"
         providerName="System.Data.SqlClient" />   
   </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>